<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>MacbookPro</title>
</head>
<body>
    <main>
        <h1>MacbookPro</h1>
        <img src="images/macbook_pro.png" alt="MacbookPro">
        <p>MacBook Pro elevates the notebook to a whole new level of performance and portability. Wherever your ideas take you, you’ll get there faster than ever with high‑performance processors and memory, advanced graphics, blazing‑fast storage and more</p>
    </main>

    <script src="js/main.js"></script>
</body>
</html>